@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');

.card {
	
	border: 1px solid rgba(25, 211, 32, 0.489);
	border-radius: 10px;
	background-color: rgba(33, 220, 86, 0.09);
	box-shadow: 2px 2px 40px rgba(62, 7, 241, 0.733);
	width: 300px;
	height: 250px;
	margin-top: 10px;
	margin-bottom: 10px;
	display: flex;
	flex-direction: column;
	padding: 2px;
}

.gral {
	
	border: 1px solid rgb(34, 100, 53);
	display: flex;
	flex-direction: column;
	width: 250px;
}
.textCard {
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.nameGenres {
	width: 210px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.name {
	font-family: 'RocknRoll One', sans-serif;
	display: flex;
	align-items: flex-start;
	
}

.img {
	width: 100px;
	height: 24vh;
	width: 300px;
	overflow: hidden;
	border-radius: 10px 10px 0px 0px;
}

.genres {
	font-family: 'Poppins', sans-serif;
	display: flex;
	align-items: flex-start;
}

.divRating {
	color: rgb(26, 236, 71);
	border: 2px solid rgba(6, 255, 43, 0.578);
	background-color: rgba(15, 11, 97, 0.507);
	height: 38px;
	width: 38px;
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
