@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.background {
	height: 100vh;
	background: url('./background.jpg');
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}
.titleh1 {
	font-family: 'Bebas Neue', cursive;
	font-size: 150%;
	color: #f0f3f2;
}

.title h2 {
	font-family: 'Bebas Neue', cursive;
	font-size: 350%;
	color: #26e0a5;
}


.title button {
	cursor: pointer;
	font-size: 300%;
	font-family: 'Bebas Neue', cursive;
	color: rgb(249, 249, 249);
	font-size: 200%;
	border: none;

	background: none;
}

.title button:hover {
	transition: all 0.8s ease;
	color: #26e0a5;
	cursor: pointer;
	font-size: 250%;
	transform-origin: center;
	text-shadow: 0 0 10px rgb(255, 0, 0);
}

